main {
  width: 100%;
  background-image: url('src/assets/react-large.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 140px ;
  
}


.main-content {
  padding-top: 148px;
  padding-left: 27px;
  padding-right: 27px;
}

.main-content-items li::marker {
  content: "\2022";
  color: #61DAFB;
  margin-right: 1em;
  font-size: 25px;
  
}

.main-content-items > li {
  list-style: none;
  font-size: 16px;
  padding: 10px;
  font-weight: 100;
  padding-left: 27px;
  padding-right: 27px;
  max-width: 400px;
}



.content-title {
  font-weight: 700;
  letter-spacing: -1.953px;
  font-size: 39.06px;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 91px;
  padding: 30px 25px;
}

.nav > img {
  width: 28.93px;
  padding-top: 31px;
  padding-left: 26px;
  padding-bottom: 31px;
  margin-right: 7px;
}

.nav > h3 {
  font-weight: 700;
  font-size: 23px;
  color: #61DAFB;
  margin-right: auto;
}

.nav > h4 {
  color: #DEEBF8;
  font-size: 16px;
}




.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  left: 0;
  right: 0;
  
}