
 
 
 main {
  width: 100%;
  background-image: url('src/assets/react-large-light.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 140px ;
  background-color: white;
  color: #2B283A;
  padding-top: 148px;
  padding-left: 27px;
  padding-right: 27px;
} 

main.dark {
  background-image: url('src/assets/react-large.svg');
  background-color: #282D35;
  color: white;
}


.main-content-items li::marker {
  content: "\2022";
  color: #61DAFB;
  margin-right: 1em;
  font-size: 25px;
  
}

.main-content-items > li {
  list-style: none;
  font-size: 16px;
  padding: 10px;
  font-weight: 100;
  padding-left: 27px;
  padding-right: 27px;
  max-width: 400px;
}



.content-title {
  font-weight: 700;
  letter-spacing: -1.953px;
  font-size: 39.06px;
}

nav {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 91px;
  padding: 30px 25px;
}

nav.dark {
  background-color: #21222A;
}

nav > img {
  width: 28.93px;
  padding-top: 31px;
  padding-left: 26px;
  padding-bottom: 31px;
  margin-right: 7px;
}

nav > h3 {
  font-weight: 700;
  font-size: 23px;
  color: #61DAFB;
  margin-right: auto;
}



.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}


nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}



footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  left: 0;
  right: 0;
 } 

 footer.dark {
  color: #FFFFFF;
  background-color: #282D35;
 }